<html><head><title> Coranto Archive </title></head><body>
<!--INSTRUCTIONS
This is the Coranto archive link file template. This will be used to generate a
page that links to your monthly archive files.
It should be a basic HTML page, except you may insert the following special command anywhere
in this file:

<Field: Content> Inserts links to your monthly archive files.

(Note: these instructions can be left in the file, as they'll automatically
be removed when generating archive files.)

END INSTRUCTIONS-->
<Field: Content>

</body></html>
